extends layout

block content
  div.auth-form
    form(method='POST' action='')
      p=title
        div
          label(for='username') Username:
          input#name.form-control(type='text', placeholder='Enter your name' name='username' )
        div
          label(for='password') Password:
          input#password.form-control(type='password' placeholder='Enter your password' name='password' )
        div
          label(for="confirmPassword") Confirm Password: 
          input#confirmPassword(type="password"  placeholder='Enter your password again' name="confirmPassword" required="true")
          if (passwordConfirmationError)
            p(style="color: red;") #{passwordConfirmationError}
        button.btn.btn-primary(type='submit') Submit 
        button.cancel
          a.delete(href='/') cancel
  if (error)
    p #{error}